<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="utf-8">
        <title>Welcome</title>
    </head>
    <body>
        <form method="post">
            <input type="hidden" id="email" name="email" value="{{email}}" />
            <input type="hidden" id="name" name="name" value="{{name}}" />
        </form>
        <p>Welcome {{nickname}}</p>
        <p>Availavle actions</p>
        <div>
            <form name="logoutForm" action="/logout" method="post">
                <button type="submit">Login out</button>
            </form>
            <form name="tableOfContentsForm" action="/contents" method="post">
                <button type="submit">목차 이동</button>
            </form>
        </div>
    </body>
</html>