<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html"; charset="utf-8">
        <title>Welcome</title>
    </head>
    <body>
        <form method="post">
            <input type="hidden" id="id" name="id" value="{{id}}" />
        </form>
        <p>Welcome {{username}}</p>
        {%if cntn.is_some()%}
        <p>{{cntn.unwrap()}}</p>
        {%endif%}
        <p>Availavle actions</p>
        <form name="logoutForm" action="/admin/logout" method="post">
            <button type="submit">Login out</button>
        </form>
    </body>
</html>